.btn-create {
    /* float: right; */
    clear: both;
    display: inline-block;
    margin: 20px;
    color: white;
    background: #31b8e4;
    font-weight: 500;
    outline: none;
    border: none;
    transition: .4s ease-in-out;
    padding: 5px 10px;
    border-radius: 5px;
}

.ant-table-wrapper {
    padding: 0 20px 20px 20px;
}

.btn-create:hover {
    background: #1280a4;
}

.modal-dialog.login.animated.country {
    width: 600px;
    /* display: flex; */
    /* justify-content: center; */
}

.modal-content.country {
    width: 600px;
    padding: 0 30px 0 30px;
}

.modal-content.country .ant-col.ant-form-item-label {
    display: block;
    text-align: left;
}

.form-country .ant-row.ant-form-item {
    flex-flow: column;
}

.ant-form-item {
    margin-bottom: 5px;
}

.ant-form-item-label>label {
    font-size: 13px;
}

.modal-content.country .modal-header {
    padding-left: 0;
}

button.ant-btn.ant-btn-primary.btn-ant-modal-submit {
    display: inline-block;
    margin-right: 10px;
}

.action .block:last-child {
    margin-right: 0;
}

.action .block .icon i {
    font-size: 18px;
}

.action .block .icon {
    display: inline-block;
    margin-right: 5px;
}

span.block.view .icon {
    color: #218cb0;
}

.btn-create:hover {
    background: #1280a4;
    color: white;
}

.user-area .user-menu .nav-link:hover {
    background: #e5e5e5;
}

.header-left .dropdown .dropdown-menu p {
    font-size: 15px;
    margin: 0;
    padding: 5px 10px;
}

.header-left .dropdown .dropdown-menu .dropdown-item {
    width: 100%;
}

.header-left .dropdown .dropdown-menu .dropdown-item:hover {
    background: #e7e7e7;
}

.dropdown-menu {
    min-width: 200px;
}

.user-area .user-menu .nav-link {
    color: #5a5555;
    padding: 5px 10px;
}

.for-notification .dropdown-menu .dropdown-item {
    padding: 5px 10px !important;
}

.user-area .user-menu {
    padding: 0;
}

span.block.view .btn-show {
    color: #218cb0;
}

.header-left .dropdown .dropdown-menu p {
    font-size: 13px;
}

.for-notification .dropdown-menu .dropdown-item i {
    font-size: 13px;
}

.header-left .dropdown .dropdown-menu {
    background: #f9f9f9;
    border: none;
    border-radius: 0;
    box-shadow: none;
    box-shadow: -5px -4px 33px -13px rgba(0, 0, 0, 0.64);
    top: 49px !important;
}

span.block.edit .icon {
    color: #218cb0;
}

span.block.delete .icon {
    color: red;
}

.ant-table-filter-column-title {
    background: #454545;
    color: white;
    letter-spacing: 2px;
    font-size: 15px;
}

.ant-table-thead>tr>th {
    background: #454545 !important;
    color: white !important;
    letter-spacing: 2px;
    font-size: 15px;
}

span.block.edit .btn-edit {
    color: #218cb0;
}

.action .block {
    display: inline-block;
    margin: 0 35px 0 0;
    /* color: grey; */
}

.main-menu.admin .navi-link {
    display: block;
    margin-bottom: 20px;
}

.action .block .btn-delete, .action .block .btn-edit {
    color: red;
    font-weight: 600;
    display: inline-block;
    margin: 0 5px;
    text-transform: uppercase;
    background: none !important;
    border: none;
}

.action .delete, .action .edit {
    display: inline-block;
}

.main-menu.admin h3.menu-title {
    margin-bottom: 30px;
}

.main-menu.admin .navi-link li.menu-item {
    display: block;
    /* font-weight: 600; */
    margin: 0;
    padding: 10px 10px 10px 0;
    color: #8696a1;
    transition: .4s ease-in-out;
    font-size: 15px;
    position: relative;
    /* border-bottom: 1px solid #bdbbbb; */
}

.main-menu.admin .navi-link li.menu-item span {
    display: inline-block;
    margin-right: 20px;
}

.main-menu.admin .navi-link li.menu-item:after {
    content: "";
    display: block;
    width: 60px;
    background: #d0d0d0;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    transition: .4s ease-in-out;
}

.navbar .navbar-header {
    display: flex;
    margin-top: 30px;
    justify-content: center;
    align-items: center;
}

.navbar .navbar-header .title-dash {
    color: white;
    font-size: 20px;
    letter-spacing: 1px;
}

.single-package-item h3 .pull-right {
    text-transform: none;
}

.navbar .navbar-header .icon {
    color: white;
    font-size: 20px;
    display: inline-block;
    margin-right: 5px;
    border: 1px solid white;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    position: relative;
}

.ant-input-number {
    width: 200px !important;
}

.navbar .navbar-header .icon i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.single-package-item .tour-img {
    width: 360px;
    height: 292px;
    display: block;
}

.single-package-item .tour-img .placeholder {}

.single-package-item img {
    width: 100%;
    height: 100%;
    display: block;
}

.login .social a {
    padding: 0 !important;
    width: 60px;
    height: 60px;
    position: relative;
    margin: 0 10px !important;
}

.login .social a i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.dropdown-toggle {
    padding-bottom: 0 !important;
}

.main-menu .nav a :last-child :before {
    width: 0 !important;
}

.about-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about-btn .pull-right {
    font-size: 16px;
    color: #49480b;
}

.single-package-item-txt h3 span {
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    white-space: normal;
    height: 45px;
    overflow: hidden;
}

.packages-para p {
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    white-space: normal;
    overflow: hidden;
    height: 75px;
}

.user-area .user-menu .nav-link.btn-logout {
    background: none !important;
    border: none;
}

.gallery-content .gallery-body {
    display: block;
    width: 100%;
    height: 250px;
    overflow: hidden;
    margin-bottom: 30px;
}

.filtr-container .filtr-item {
    display: block;
    width: 100%;
    height: 100%;
}

.single-package-item h3 .title {
    color: #565a5c;
    font-weight: 600;
}

.single-package-item {
    width: 100%;
}

.single-package-item .package-img {
    width: 100%;
    height: 292px;
    overflow: hidden;
}

.single-package-item .package-img img {
    transition: .4s ease-in-out;
}

.single-package-item .package-img:hover img {
    transform: scale(1.5);
}

nav.breadcumb {
    display: block;
    margin-bottom: 10px;
    z-index: 1;
    position: absolute;
    bottom: 0;
}

nav.breadcumb ul li a {
    display: inline-block;
    letter-spacing: 1px;
    font-size: 15px;
    font-weight: 400px !important;
    margin-right: 10px;
    color: white;
}

nav.breadcumb ul li span {
    display: inline-block;
    color: white;
    margin-right: 10px;
}

nav.breadcumb ul li a:hover {
    text-decoration: underline;
}

.nav-tabs>li>.box-link {
    pointer-events: none;
}

.top-area.detail {
    position: relative;
}
.detail{
    background: rgb(245 245 245);
    padding: 50px 0;
}

.detail .side-bar {
    background: white;
}
.detail .info{
    background: white;
    padding: 20px;
}

.detail .info .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.detail .info .title .name{
    font-size: 23px;
}
.detail .info .desc {
    font-size: 15px;
}
/* .detail{
    background: rgb(245 245 245);
} */


.detail .info .title .booking {
    background: #2693f8;
    color: white;
    outline: none;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
}

.detail .info .location {
    font-weight: 300;
    font-size: 17px;
    color: #525252;
}

.detail .info .location span {
    font-size: 18px;
    color: #1879d3;
}

.detail .info .title .booking:hover {
    background: #0e569a;
}

/* success book modal */

.modal-confirm {
    color: #434e65;
    width: 600px;
}

.modal-confirm .modal-content {
    padding: 20px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
}

.modal-confirm .modal-header {
    background: #47c9a2;
    border-bottom: none;
    position: relative;
    text-align: center;
    margin: -20px -20px 0;
    border-radius: 5px 5px 0 0;
    padding: 35px;
}

.modal-confirm .modal-header.success {
    background: #47c9a2;
}

.modal-confirm .modal-header.fail {
    background: red;
}

.modal-confirm h4 {
    text-align: center;
    font-size: 36px;
    margin: 10px 0 20px 0;
}

.modal-confirm .form-control, .modal-confirm .btn {
    min-height: 40px;
    border-radius: 3px;
}

.modal-confirm .close {
    position: absolute;
    top: 15px;
    right: 15px;
    color: #fff;
    text-shadow: none;
    opacity: 0.5;
}

.modal-confirm .close:hover {
    opacity: 0.8;
}

.modal-confirm .icon-box {
    color: #fff;
    width: 95px;
    height: 95px;
    display: inline-block;
    border-radius: 50%;
    z-index: 9;
    border: 5px solid #fff;
    padding: 15px;
    text-align: center;
}

.modal-confirm .icon-box i {
    font-size: 64px;
    margin: -4px 0 0 -4px;
}

.modal-confirm.modal-dialog {
    margin-top: 80px;
}

.modal-confirm .btn, .modal-confirm .btn:active {
    color: #fff;
    border-radius: 4px;
    background: #eeb711 !important;
    text-decoration: none;
    transition: all 0.4s;
    line-height: normal;
    border-radius: 30px;
    margin-top: 10px;
    padding: 6px 20px;
    border: none;
}

.modal-confirm .btn:hover, .modal-confirm .btn:focus {
    background: #eda645 !important;
    outline: none;
}

.modal-confirm .btn span {
    margin: 1px 3px 0;
    float: left;
}

.modal-confirm .btn i {
    margin-left: 1px;
    font-size: 20px;
    float: right;
}

.trigger-btn {
    display: inline-block;
    margin: 100px auto;
}

.single-package-item-txt .location {
    font-weight: 300;
    font-size: 14px;
    color: #525252;
}

.single-package-item-txt .location span {
    font-size: 18px;
    color: #0f7f93;
    display: inline-block;
    margin-right: 5px;
}

.main-menu .nav li:last-child a:before {
    display: none;
}

.modal.status-user.login {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    transition: 1s ease-in;
    width: 100%;
    bottom: 0;
    height: 100%;
    background: #00000070;
}

.modal.status-user.login.active {
    display: block;
}

.modal.status-user.login .modal-dialog.modal-confirm.modal-status {
    position: absolute;
    top: -100%;
    left: 50%;
    z-index: 110;
    transform: translate(-50%, -50%);
    opacity: 0;
    margin: 0;
    transition: 1s ease-in-out;
}

.modal.status-user.login .modal-dialog.modal-confirm.modal-status.active {
    left: 50%;
    top: 50%;
    opacity: 1;
    animation: tranform .4s ease-in-out 0s;
}

.modal.status-user.register {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    transition: 1s ease-in;
    width: 100%;
    bottom: 0;
    height: 100%;
    background: #00000070;
}

.modal.status-user.register.active {
    display: block;
}

.modal.status-user.register .modal-dialog.modal-confirm.modal-status {
    position: absolute;
    top: -100%;
    left: 50%;
    z-index: 110;
    transform: translate(-50%, -50%);
    opacity: 0;
    margin: 0;
    transition: 1s ease-in-out;
}

.list-error {
    display: block;
    text-align: left;
    margin: 0 auto;
}

.list-error li span {
    color: red;
    display: inline-block;
    font-size: 14px;
}

.list-error li .name {
    color: grey;
    font-weight: normal;
    margin-left: 5px;
}

.modal.status-user.register .modal-dialog.modal-confirm.modal-status.active {
    left: 50%;
    top: 50%;
    opacity: 1;
    animation: tranform .4s ease-in-out 0s;
}

@keyframes tranform {
    0% {
        left: 50%;
        top: -100%;
        opacity: 0;
    }
    100% {
        left: 50%;
        top: 50%;
        opacity: 1;
    }
}

.modal-content.login {
    width: 100% !important;
}

.error {
    text-align: center;
}

.error span {
    color: red;
    font-size: 14px;
}

.error .name {
    color: grey;
    margin-left: 5px;
}
.list-review{
    margin-top: 50px;
}

.review h4 {
    margin: 20px 0;
}

.list-review .list-item  .img {

    display: block;
    width: 50px;
    height: 50px;
    flex: none;
    margin-right: 10px;
}
.list-review .list-item  .img img{
    border-radius: 50%;
    border: 2px solid #747474;
}
.list-review .list-item {
    display: flex;
  
}

.list-review .info .review-time p:first-child {
    font-size: 12px;
}


.list-review .list-item .feedback .name {
    color: black;
    font-weight: 600;
}

.list-review .info .review-time p {
    margin: 0;
    padding: 0;
}

.list-review .info .review-time p {
    margin: 0;
    padding: 0;
}

.list-review .info .review-time p:first-child {
    font-size: 13px;
}

.list-review .info .review-time .name {
    color: black;
}


.list-review {
    /* display: flex; */
    /* align-items: center; */
}

.feedback .star span {
    color: yellow;
}

.feedback .feedback-content {
    font-size: 14px;
    color: #575757;
}

.bread-bg {
    display: block;
    position: relative;
    background-image: url(https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/nature-quotes-1557340276.jpg);
    width: 100%;
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 100px;
}

.bread-bg:after {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    content: "";
    background: rgba(0,122,207,.4);
}