.btn-create {
    /* float: right; */
    clear: both;
    display: inline-block;
    margin: 20px;
    color: white;
    background: #31b8e4;
    font-weight: 500;
    outline: none;
    border: none;
    transition: .4s ease-in-out;
    padding: 5px 10px;
    border-radius: 5px;
}
.ant-table-wrapper{
    padding: 0 20px 20px 20px;
}
.btn-create:hover {   
    background: #1280a4;
}



.modal-dialog.login.animated.country {
    width: 600px;
    /* display: flex; */
    /* justify-content: center; */
}

.modal-content.country {
    width: 600px;
    padding: 0 30px 0 30px;
}

.modal-content.country .ant-col.ant-form-item-label {
    display: block;
    text-align: left;
}
.form-country .ant-row.ant-form-item {
    flex-flow: column;
}
.ant-form-item{
    margin-bottom: 5px;
}
.ant-form-item-label > label{
    font-size: 13px;
}
.modal-content.country .modal-header{
    padding-left: 0;
}

button.ant-btn.ant-btn-primary.btn-ant-modal-submit {
    display: inline-block;
    margin-right: 10px;
}
.main-menu.admin .navi-link {
    display: block;
    margin-bottom: 20px;
}

.ant-table-cell a.btn-delete {
    color: red;
    font-weight: 600;
}

.main-menu.admin h3.menu-title {
    margin-bottom: 30px;
}

.main-menu.admin .navi-link li.menu-item {
    display: block;
    /* font-weight: 600; */
    margin: 0;
    padding: 10px 10px 10px 0;
    color: #8696a1;
    transition: .4s ease-in-out;
    font-size: 15px;
    position: relative;
    /* border-bottom: 1px solid #bdbbbb; */
}

.main-menu.admin .navi-link li.menu-item span {
    display: inline-block;
    margin-right: 20px;
}
.main-menu.admin .navi-link li.menu-item:after {content: "";display: block;width: 60px;background: #d0d0d0;position: absolute;bottom: 0;left: 0;height: 2px;transition: .4s ease-in-out;}

